<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:minSdkVersion="4"
	package="alaus.radaras" android:versionCode="11" android:versionName="1.4.11">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="4" />
	<application android:name="BeerRadarApp"
	 android:label="@string/app_name" android:icon="@drawable/bokalas">
		<uses-library android:name="com.google.android.maps" />

		<activity android:name="BeerRadarActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".PubLocationActivity" android:label="@string/activity_location_header"></activity>
		<activity android:label="@string/activity_brands_header" android:name=".BrandListActivity"></activity>
		<activity android:name=".PubActivity" android:label="@string/activity_pub_header"></activity>
		<activity android:name=".BeerCounterActivity" android:label="@string/activity_counter_header"></activity>
		<activity android:name=".LuckyActivity"  android:label="@string/activity_lucky_header"></activity>
		<activity android:name=".BrandTabWidget" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".TagListActivity"></activity>
		<activity android:name=".SelectLanguageActivity"></activity>
		<activity android:name=".CountryListActivity"></activity>
		<activity android:name=".TagBrandsListActivity" android:label="@string/activity_tag_brands_header"></activity>
		<activity android:name=".CountryBrandsListActivity" android:label="@string/activity_country_brands_header"></activity>
		<activity android:name=".SettingsActivity" android:label="@string/activity_settings_header"></activity>
		<activity android:name="TaxiListActivity" android:label="@string/activity_taxi_header"></activity>

		<service
			android:label="UpdateService" 
			android:name=".service.UpdateService">
		</service>
	</application>



	
	
	

</manifest> 