@CHARSET "UTF-8";

* {
	font-family: Helvetica, Arial, Swiss, sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* prepares the background image to full capacity of the viewing area */
#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* places the content ontop of the background image */
#content {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	position: relative;
	z-index: 1;
}