@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
}

.section {
	width: 100%;
	overflow: auto;
	padding-bottom: 20px;
}

.sectionHeader {
	font-size: x-large;
	border-bottom: solid;
	border-bottom-width: 1px;
	float: left;
	width: 100%;
}

.sectionTitle {
	float: left;
	font-size: x-large;
}

.sectionHeader input {
	float: right;
	width: 30%;
	font-size: large;
}

.sectionContent>div {
	float: left;
	width: 33%;
	overflow: auto;
}

.sectionContent>div>img {
	width: 50px;
	height: 50px;
}

.sectionContent>div>span {
	font-size: xx-large;
}

.close {
	font-size: x-small;
	vertical-align: top;
	cursor: pointer;
}

#content {
	margin: auto;
	width: 800px;
}

#pubTitle {
	font-size: xx-large;
}

#map {
	width: 300px;
	float: left;
}

#map+div {
	width: 480px;
	float: left;
	padding-left: 20px;
}

#map+div>div {
	font-size: x-large;	
}